---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import fumo from "../assets/index/fumo.png";
import cipher from "../assets/index/cipher.png";
import conditional from "../assets/index/conditional.png";
import petprice from "../assets/index/petprice.png";
import fishcalc from "../assets/index/fishcalc.png";
---

<Layout title="PickKali's silly corner" description="Tap here for +1 Silly">
  <section id="sillysection">
    <div id="rotateddiv">
      <Image
        src={fumo}
        alt="Kali, in fumo plushie form."
        height={400}
        width={400}
      />
    </div>
    <article id="innerarticle">
      <h1>Hi! I'm Kali! And I'm silly!</h1>
      <blockquote id="randomquote"></blockquote>
      <i>This is actually a quote that I have said.</i>
      <br /><br />
      <a role="button" class="lesspadding" href="#links">Links▼</a>
      <a role="button" class="lesspadding secondary" href="#resources"
        >Resources▼</a
      >
    </article>
  </section>
  <section id="serioussection" class="container-float">
    <article>
      <h2 id="links">Links</h2>
      <table class="striped">
        <thead>
          <tr>
            <th>What</th>
            <th>Where</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Youtube</th>
            <td>
              <a
                href="https://www.youtube.com/@pickkali"
                target="_blank"
                data-tooltip="Your irregularly unscheduled content.">PickKali</a
              ><br />
              <a
                href="https://www.youtube.com/@KaliIsTrying"
                target="_blank"
                data-tooltip="For whenever I feel musical.">KaliIsTrying</a
              >
            </td>
          </tr>
          <tr>
            <th>Wafrn</th>
            <td>
              <a
                href="https://app.wafrn.net/blog/PickKali"
                target="_blank"
                data-tooltip="Where the wild thoughts roam free.">PickKali</a
              >
            </td>
          </tr>
          <tr>
            <th>Roblox</th>
            <td>
              <a
                href="https://www.roblox.com/users/425402714/profile"
                target="_blank"
                data-tooltip="Yeah, I'm linking Roblox, so what?">Unpickled</a
              ><br />
              <a
                href="https://www.roblox.com/communities/6245537/Ancient-Arch-Studios#!/about"
                target="_blank"
                data-tooltip="Primary group (Obby Squads)"
                >Ancient Arch Studios</a
              ><br />
              <a
                href="https://www.roblox.com/communities/12639976/ProtoFox#!/about"
                target="_blank"
                data-tooltip="Primary group (Main projects)">Protofox</a
              ><br />
              <a
                href="https://www.roblox.com/communities/33196811/Doodle-Fennec#!/about"
                target="_blank"
                data-tooltip="Secondary group (Secondary projects)"
                >Doodle Fennec</a
              ><br />
            </td>
          </tr>
          <tr>
            <th>Github</th>
            <td>
              <a
                href="https://github.com/PickKali"
                target="_blank"
                data-tooltip="If you REALLY wanted to look at source code."
                >PickKali</a
              >
            </td>
          </tr>
          <tr>
            <th>Itch.io</th>
            <td>
              <a
                href="https://pickkali.itch.io/"
                target="_blank"
                data-tooltip="I still have a lot to do before I get around to using Godot."
                >PickKali</a
              >
            </td>
          </tr>
          <tr>
            <th>Twitch</th>
            <td>
              <a
                href="https://www.twitch.tv/pickkali"
                target="_blank"
                data-tooltip="I don't even stream.">PickKali</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </article>
    <article>
      <h2 id="resources">Resources</h2>
      <div role="group" class="toolbox">
        <a class="thumbnail" href="/the-site/ciphers" hidden>
          <Image
        src={cipher}
        alt="Open lock with silly face"
        height={100}
        width={100}
      />
            <div class="content">
              <h6>Very Silly Ciphers</h6>
              <p>A lot of various ciphers. Usefulness varies.</p>
            </div>
        </a>
        <a class="thumbnail" href="/the-site/selector" hidden>
          <Image
        src={conditional}
        alt="Folder directory with checkmarks and x symbols"
        height={100}
        width={100}
      />
            <div class="content">
              <h6>Conditional Selector</h6>
              <p>A roblox tool for the devs that both build and code.</p>
            </div>
        </a>
        <a class="thumbnail" href="/the-site/pet-pricer" hidden>
          <Image
        src={petprice}
        alt="Outline of a cubic bear with a dollar symbol"
        height={100}
        width={100}
      />
            <div class="content">
              <h6>FishOnMC Pet Pricing</h6>
              <p>Pets are difficult to value, maybe this can help.</p>
            </div>
        </a>
        <a class="thumbnail" href="/the-site/fish-calculator">
          <Image
        src={fishcalc}
        alt="square root of a fish"
        height={100}
        width={100}
      />
            <div class="content">
              <h6>FishOnMC Calculator</h6>
              <p>It shouldn't take me this long to do Murray giga completion!</p>
            </div>
        </a>
      </div>
    </article>
  </section>
</Layout>

<script src="../scripts/index.js"></script>

<style>
  html {
    background-image:
      linear-gradient(
        to right,
        var(--K),
        #00000000 20%,
        #00000000 80%,
        var(--L)
      ),
      url("/k&.png"), linear-gradient(to right, var(--K), var(--L));
    background-size: auto, 80px, auto;
    background-repeat: repeat, repeat, repeat;
    animation: panning 10s ease-in-out infinite;
    animation-direction: alternate;
  }

  @keyframes panning {
    0% {
      background-position:
        0% 0%,
        0% 0%,
        0% 0%;
    }
    100% {
      background-position:
        0% 0%,
        5% 5%,
        0% 0%;
    }
  }

  #innerarticle {
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
  }
  #sillysection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: calc(100vh - 4.5rem);
  }
  #rotateddiv {
    height: min-content;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    animation: rotateYZ 15s infinite linear;
  }
  #serioussection {
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
  }
  .lesspadding {
    padding: 0.5em 1em;
  }
  td {
    line-height: 2em;
  }
  @keyframes rotateYZ {
    to {
      transform: rotateY(360deg) rotateZ(720deg);
    }
  }
  ul li {
    list-style-type: none;
    display: list-item;
    text-align: center;
  }
  .toolbox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
  }
  .thumbnail{
    text-decoration: none;
    border: solid 1px;
    margin: 1px;
    border-image: linear-gradient(to right, var(--K), var(--L)) 27;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    transition: transform 0.3s;
  }
  .thumbnail:hover {
        transform: translateY(-2px);
  }
  .content{
    width: 300px;
  }
  @media (max-width: 650px){
    .thumbnail{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
</style>
